.parItem{
    padding: 20px 40px;
    line-height: 40px;
    color:#555;
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    .icon-shanchu{
        float: right;
        font-size: 45px;
    }
}